// defining reusable variables

// fonts
$font-stack: Trebuchet MS, Arial, sans-serif;
$font-stack-header: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

// colors
$color-primary: white;
$color-secondary: black;
$color-tertiary:  coral;
