// import config and utilities partials
@import "config";
@import "utilities";

body {
    background-color: $color-primary;
    font-family: $font-stack;
}

.nobull {
    list-style-type: none;
}

img {
  width: 50%;
  display: block;
  margin: auto;
}

#nav {
  border: 2px solid $color-secondary;
  background-color: $color-primary;

  #navUl {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}


a {
  color: black;
}

h1 {
  text-align: center;
  font-family: $font-stack-header;
}

input[type=submit] {
  background-color: $color-primary;
  color: $color-secondary;
  cursor: pointer;
}

button {
    background-color: $color-primary;
    color: $color-secondary;
    cursor: pointer;
}