body {
  background-color: whitesmoke;
}

.nobull {
  list-style-type: none;
}

img {
  width: 50%;
  display: block;
  margin: auto;
}

#nav {
  position: sticky;
  top: 0.5em;
  background-color: black;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}