body {
  background-color: coral;
}

.nobull {
  list-style-type: none;
}

img {
  width: 50%;
  display: block;
  margin: auto;
}

#nav {
  top: 0.5em;
  border: 0.5em;
  background-color: white;
  text-align: center;
}

#navUl {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a {
  color: black;
}

h1 {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input[type=submit] {
  background-color: white;
  color: black;
  cursor: pointer;
}